.root {
  padding: 16px 20px;
  border-radius: 32px;
  corner-shape: squircle;
  background-color: #fff;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.06), 0px 0px 1px rgba(0, 0, 0, 0.1);
}

.text {
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  line-height: 22px;
  font-weight: 500;
  color: #27272a;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.author {
  font-size: 13px;
  font-family: "Montserrat", sans-serif;
  color: #a1a1aa;
}
